httpx==0.27.0
transformers==4.46.3
sentencepiece==0.2.0
bitsandbytes==0.43.3
imageio==2.35.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
av==13.1.0
yt-dlp==2024.11.4
ffmpeg-python==0.2.0
moviepy==1.0.3
pyffmpeg==2.4.2.18.1
#diffusers==0.30.0
git+https://github.com/huggingface/diffusers.git
