bittensor
torch
scikit-learn
loguru
tensorflow
opencv-python
numpy
pillow
pandas
diffusers
transformers
matplotlib
kaggle
torchvision
torchaudio
#cudatoolkit
datasets
accelerate
tensorboardx
tf-keras
httpx
libstdcxx-ng